
<div class="banner"  style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(https://images.unsplash.com/photo-1548466497-45553404158b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
    <div class="container">
      <h1>MIEUX !</h1>
      <p>Entreprises engagées</p>
      <br>
      <a class="btn-primary" href="#">Rejoignez le collectif !</a>
    </div>
  </div>

  <!-- code a "How it works" section -->
  <div class="container">
    <h2 class="text-center">Qui sommes nous ?</h2>
    <div class="d-flex align-items-starts justify-content-between mt-4 p-2">
      <div class="pe-4">
        <%=image_tag("logo.png", alt: "Collectif MIEUX !", width: "380", height: "220")%>
      </div>
      <div>
        <p>Le collectif MIEUX ! est né en juin 2022 de l'association d'une vingtaine d'entrepreneurs décidés à partager les bonnes pratiques de leurs entreprises en matières de Responsabilité Sociale et Environnementale et faire de celles-ci des réalités concrètes.</p>
        <p>Les membres de ce collectif s'engagent ensemble dans un certain nombre d'actions afin de devenir ensemble les champions de la circularité, de la sobriété , de l'inclusion d'une société résiliente et rayonnante pour:</p>
        <ul>
            <li>Mieux Apprendre</li>
            <li>Mieux Comprendre </li>
            <li>Mieux Agir</li>
            <li>Mieux Entreprendre</li>
            <li>Mieux Partager</li>
            <li>Mieux S’engager </li>
            <li>Mieux Vivre</li>
        </ul>
        <p>... ensemble!</p>
        <p>Le lancement du collectif MIEUX ! est porté par le projet d'Arthur Le Vaillant sur La Route du Rhum 2022 en catégorie Ultim. Celui-ci servira de tremplin médiatique symbolisant une certaine idée de l'engagement de ces membres au travers du parrainage d'un marin et d'un Trimaran exceptionnel sur une des épreuves les plus mythiques en Europe ! </p>
      </div>
    </div>
    <div class="cards">

    </div>
  </div>

  <!-- code a footer -->
  <div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>This website was coded with <i class="fas fa-heart"></i> by Webitgo.</p>

    </div>
  </div>
