.footer {
  text-align: center;
  padding: 30px;
  background-color: #4b4949;
}

.footer a {
  font-size: 30px;
  color:  #BF0F12;
}

.footer p {
  color: #6B6C6C;
}

.footer .fas {
  color: #BF0F12;
}
